$colors:(
    primary:(
        100: rgb(83, 243, 91),
        200: rgb(93, 170, 97),
        400: rgb(67, 126, 70),
        500: rgb(46, 87, 48),
        700: rgb(34, 63, 35)),

    secondary:(
        400: rgb(45, 105, 218),
        600: rgb(218, 45, 131),
        700: rgb(226, 152, 41)),
        
    neutral:(
        0: hsl(0,0%,0%),
        100: hsl(0,0%,10%),
        400: hsl(0,0%,40%),
        600: hsl(0,0%,60%),
        700: hsl(0,0%,70%),
        900: hsl(0,0%,90%)),

    accent: (
        100: #ff8a00,
        200: cyan)     //#e52e53;
);
