$colors:(
    primary:(
        200: rgb(93, 170, 97),
        400: rgb(67, 126, 70),
        500: rgb(46, 87, 48),
        700: rgb(34, 63, 35)),
    secondary:(
        400: rgb(45, 105, 218),
        600: rgb(218, 45, 131)),
    neutral:(
        0: rgb(255,255,255),
        100: rgb(215,215,215),
        400: rgb(175,175,175),
        600: rgb(125,125,125),
        700: rgb(85,85,85),
        900: rgb(15,15,15))
);


