.footer {
    position: relative;
    height: 250px;
    width: 100%;
    background-color:var(--clr-neutral-0);
    
    &__content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        & > img {
            width: 50%;
            height: 50%;
        }
    }

    &__title {
        font-size: clamp(1.5rem,50%,2rem);
        color: var(--clr-neutral-900);
    }
    &__text {
        font-size: clamp(1rem,50%,1.2rem);
        color:var(--clr-neutral-600);
    }
    &__socials {
        display: flex;
        flex-direction: column;
        width: clamp(40ch, 50%, 75ch);
        justify-content: space-between;
        color: var(--clr-neutral-700);
        font-size: 1.5rem;

        &list {
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__mapa {
        width: 80%;
        height: 80%;
    }
    &__copyright {
        color: var(--clr-neutral-900);
        background-color: black;

        & > span {
            color: var(--clr-secondary-400);
        }

        & > a {
            text-decoration: none;
            color: var(--clr-primary-200);
        }
    }
}