.footer {
    position: relative;
    width: 100%;
    background-color:var(--clr-neutral-0);

    &__content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    &__logo > img {
        position: absolute;
        //margin-top: 3rem;
        bottom: 50%;
        height: 35%;
        fill: none;
        filter: grayscale(100%);
    }

    &__title {
        font-size: clamp(1.5rem,50%,2rem);
        color: var(--clr-neutral-900);
        padding: 3rem 0 2rem;
    }
    &__text {
        font-size: clamp(0.8rem,50%,1.0rem);
        color:var(--clr-neutral-600);
        width: clamp(30ch,50%,50ch);
        line-height: 1.2rem;
        padding-bottom: 2rem;

    }

    &__subscribe {
        position: relative;
        padding: 1rem 0 3rem;
        & > input {
            border: 1px solid var(--clr-secondary-400);
            border-right: none;
            height: 3.5rem;
            width: clamp(40ch,50%,50ch);
            letter-spacing: 0.1rem;
            border-radius: 10px 0 0 10px;
            line-height: 3rem;
            color: var(--clr-neutral-700);
            font-size: 0.6em;
            background-color: var(--clr-neutral-100);
            padding: 0 2rem;
        }

        &:focus-within input
        {
            outline: none;
            border: 1px solid var(--clr-secondary-600);
            border-right: none;
            // box-shadow: 0 0 0 3px black,
            //     0 0 0 6px var(--clr-secondary-400);
            border-right: none;
            //background-color: var(--clr-neutral-400);
        }
        &:focus-within .footer__subscribebtn {
            background-color:var(--clr-secondary-600);
        }
    }
    &__subscribebtn {
        position: absolute;
        border-radius: 0 10px 10px 0;
        border: none;
        font-size: 1.2rem;
        width: 3rem;
        height: 3.5rem;
        background-color:var(--clr-secondary-400);
    }

    &__socials {
        display: flex;
        flex-direction: column;
        width: clamp(40ch, 50%, 75ch);
        justify-content: space-between;
        color: var(--clr-neutral-700);
        font-size: 1.5rem;

        &list {
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: start;
        }

    }

    &__socialitem {
        margin-left: 2rem;

    }
    &__sociallink {
        display: inline-block;
        color: var(--clr-neutral-400);
        transition: color 200ms ease-in-out;
    }
    
    &__sociallink:hover,
    &__sociallink:focus, {
        -webkit-animation: rotate-center 0.6s ease-in-out both;
                animation: rotate-center 0.6s ease-in-out both;
        color: var(--clr-secondary-400);
    }


    &__copyright {
        color: var(--clr-neutral-900);
        background-color: black;
        text-align: center;
        padding: 3rem 0 2.5rem 0;
        font-size: 0.8em;

        & > span {
            color: var(--clr-secondary-400);
        }

        & > a {
            text-decoration: none;
            color: var(--clr-primary-200);
        }
    }
}