:root {
  --clr-primary-200: #5daa61;
  --clr-primary-400: #437e46;
  --clr-primary-500: #2e5730;
  --clr-primary-700: #223f23;
  --clr-secondary-400: #2d69da;
  --clr-secondary-600: #da2d83;
  --clr-neutral-0: white;
  --clr-neutral-100: #d7d7d7;
  --clr-neutral-400: #afafaf;
  --clr-neutral-600: #7d7d7d;
  --clr-neutral-700: #555555;
  --clr-neutral-900: #0f0f0f; }
